<div class="occupancy-card">
  <h2>Suez Medical Complex Occupancy</h2>
  <div class="container-content">
    <div class="doctor-image">
      <img src="assets/manphoto.jpg" alt="Doctor Icon" />
    </div>
    <div class="occupancy-info">
      <h1 class="occupancy-percentage">56%</h1>
        <div class="occupancy-details">
          <div class="stat inpatient">
          <span>Inpatient</span>
          <span>{{ inpatientCount }}</span>
          </div>
          <div class="stat outpatient">
          <span>Outpatient</span>
          <span> {{ outpatientCount }}</span>
          </div>
        </div>
    </div>
  </div>
</div>
