/* Header container */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px; /* Reduced padding for a shorter height */
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(7,7,102,1) 89%, rgba(6,6,90,1) 100%, rgba(9,9,121,1) 100%, rgba(5,5,78,1) 100%, rgba(0,212,255,1) 100%);
  color: #ffffff;
  z-index: 10;
}

/* Padding to avoid overlap with the fixed header */
.main-container {
  padding-top: 80px; /* Adjust based on header height */
}

/* Left Section: Logo */
.header-left .logo {
  width: 180px;
  height: auto;
}

/* Center Section: Title */
.header-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 2.2em;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  font-family: Arial, sans-serif;
}

/* Right Section: Siemens Logo */
.header-right .logo {

  width: 150px;

  height: auto;
}



.header-line {
  width: 100%;
  height: 2px;
  background-color: #0b1e35;
}
