
.temperature-container {
  background-color: #1b2941;
  color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  width:100%;  overflow: hidden;

}
h3 {
  text-align: center;
  font-size: 1.2rem;
}

.line {
  width: 100%; /* Adjust this width to match the title's length */
  height: 2px;
  background: linear-gradient(to right, transparent, #ccc, transparent);
  margin-top: 5px; /* Optional: adjust to position line closer to the title */
}