.main-container {
  margin-left: 200px;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
}

.status-sections {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.status-panel {
  background: linear-gradient(to right, #050537, #1a1a72); /* Adjust colors as needed */
  padding: 1rem 0.5rem;
  border-radius: 10px;
  color: #bfc7d5;
  margin: 0 1rem;
}


.small-panel {
  width: calc(25% - 2rem);
}

.large-panel {
  width: calc(50% - 2rem);
}
