<div class="sidebar">
  <a class="active" href="#home">
      <i class="fas fa-home" style="font-size: 20px; margin-right: 8px;"></i>
      Home
  </a>
  <a href="#news">
      <i class="fas fa-globe" style="font-size: 20px; margin-right: 8px;"></i>
      News
  </a>
  <a href="#contact">
      <i class="fas fa-users" style="font-size: 20px; margin-right: 8px;"></i>
      Contact
  </a>
  <span style="display: block; margin: 10px 10px; border-top: 1px solid #ccc;"></span> <!-- Horizontal line using span -->
  <a href="#electronics">
      <i class="fas fa-plug" style="font-size: 20px; margin-right: 8px;"></i>
      Electronics
  </a>
  <span style="display: block; margin: 10px 0; border-top: 1px solid #ccc;"></span> <!-- Horizontal line using span -->
  <a href="#hvac">
      <i class="fas fa-thermometer-half" style="font-size: 20px; margin-right: 8px;"></i>
      HVAC
  </a>
  <a href="#medical-gas">
      <i class="fas fa-syringe" style="font-size: 20px; margin-right: 8px;"></i>
      Medical Gas
  </a>
  <a href="#gas-utilization">
      <i class="fas fa-fire" style="font-size: 20px; margin-right: 8px;"></i>
      Gas Utilization
  </a>
</div>
