<div class="sidebar">
  <div class="image">
      <img src="assets/approved.png" alt="Centered Image" class="image-approved" style="height: auto; border-radius: 5px;">
  </div>
<div class="line"></div>
  <a  href="#home">
    <i class="fas fa-home" style="font-size: 20px; margin-right: 8px;"></i>
    Home
</a>

  <a href="#news">
      <i class="fas fa-globe" style="font-size: 20px; margin-right: 8px;"></i>
Hospital  </a>
  <a href="#contact">
      <i class="fas fa-users" style="font-size: 20px; margin-right: 8px;"></i>
      Clinics
  </a>
  <div class="line"></div>
  <a href="#electronics">
      <i class="fas fa-plug" style="font-size: 20px; margin-right: 8px;"></i>
      Electrical
  </a>
  <a href="#hvac">
      <i class="fas fa-thermometer-half" style="font-size: 20px; margin-right: 8px;"></i>
      HVAC
  </a>
  <a href="#medical-gas">
      <i class="fas fa-syringe" style="font-size: 20px; margin-right: 8px;"></i>
      Medical Gas
  </a>
  <a href="#gas-utilization">
      <i class="fas fa-fire" style="font-size: 20px; margin-right: 8px;"></i>
      Gas Utilization
  </a>
</div>
