.floor-cards {
  display: flex;
  justify-content: space-around;
  color:#fff;
}

.floor-card {
  background: #050537 ;
  padding: 1rem 0.5rem;
  border-radius: 10px;
  color: #bfc7d5;
  width:calc(92%/4);

}
.floor-cards .p-card  {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}
::ng-deep .floor-card .p-card{
  background-color: transparent !important;
  box-shadow: none;
  border: none;
}

.floor-card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.floor-card .card-header h2 {
  color: #4bb3fd;
  font-size: 1.25rem;
  margin: 0;
}
.color-blue{
  color:blue;
  padding-right:5px
}
.floor-card .card-content {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.floor-card .card-content .info {
  display: flex;
  justify-content: space-between;
  color: #5e7290;
  font-size: 0.9rem;
  margin: 0.5rem 0;
  color:#fff;
}

::ng-deep .floor-card .p-dropdown{
  background-color: transparent !important;
  border:none;
}
::ng-deep .floor-card .p-dropdown .p-dropdown-label.p-placeholder{
  color:#fff;
}
::ng-deep .p-icon{
  color:#fff !important;
}
