@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,6,90,1) 22%, rgba(7,7,102,1) 27%, rgba(9,9,121,1) 35%, rgba(5,5,78,1) 100%, rgba(0,212,255,1) 100%);
}