.ahu-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ahu-header a {
  font-size: 20px;
  color: #bfc7d5; /* Adjust color as needed */
  margin-bottom: 5px;
  text-decoration: none;
}

.line {
  width: 20%; /* Adjust this width to match the title's length */
  height: 2px;
  background: linear-gradient(to right, transparent, #ccc, transparent);
  margin-top: 5px; /* Optional: adjust to position line closer to the title */
}
